<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="keywords"  content="{{KEYWORDS}}" />
      <meta name="description"  content="{{DESCRIPTION}}" />
      <meta name="twitter:card"  content="summary_large_image" />
      <meta name="twitter:site"  content="@AdobePortfolio" />
      <meta  property="og:title" content="{{TITLE}}" />
      <meta  property="og:description" content="{{DESCRIPTION}}" />
      <meta  property="og:image" content="dist/images/2c9f5f71-0cb5-4d2a-8f31-18a99c968d2c_rwc_0x0x1643x861x1643.jpg" />
      <meta name="description" content="Graphic designer specializing in branding, motion design, packaging and logo creation.">
      <meta name="keywords" content="graphic design, branding, motion design, logo design, freelance designer, Web Design,Animation, Illustration, UX/UI Design, Event Materials Design, Corporate Identity, Conference Design, Advertising Material Design, Logo Creation, PLAYipp Templates Design, Strategic Model Development, Graphic Designer in Stockholm, Designer Portfolio,Creative Design Solutions, Custom Branding Services, Unique Visual Style">
      <meta name="author" content="Anna Soro">
        <link rel="icon" href="dist/images/0b41ea4c-9619-4e50-9121-e1a0f005758f_carw_1x1x32.png" />
        <link rel="apple-touch-icon" href="dist/images/3d5883d5-2972-4387-9507-71fbf6df7a8a_carw_1x1x180.png" />
      <link rel="stylesheet" href="dist/css/main.css" type="text/css" />
      <link rel="stylesheet" href="{{PAGE_CSS}}" type="text/css" />
    <link rel="canonical" href="{{CANONICAL}}" />
      <title>{{TITLE}}</title>
    <script type="text/javascript" src="https://use.typekit.net/ik/effAMlp3MMjRa8sb_2_vifH0P7vqGQb-yJgyUiSPMoSfeGMgfHYEBsJzwD9oFDIDWDwXFAjDFcJ3FcZ8jD6kFcbDwcIDw2MhFAFyFc9hwQwkjQgqFDwaF2S-MfJIjcT3ZkGHfH_JMsMMeMb6MKGHfOVJMsMMeM96MKGHfOWJMsMMeMj6MKGHfHDJMsMMeMS6MKGHfHnJMsMMeMq6MTMg3Lk8k3j.js?cb=5b8334b52156dabd5f493e0ac5e3e1bbf0df6942" async onload="
    try {
      window.Typekit.load();
    } catch (e) {
      console.warn('Typekit not loaded.');
    }
    "></script>
</head>